<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>


    <h1>Access the api via /get_audio/&lt;your_text&gt;</h1>


    <script>
       
        async function getAudioFileAndPlay() {

            let formData = new FormData();
            let msg = document.getElementById("msg").value;
            formData.append('msg', msg)

            

        }
    </script>

</body>

</html>